extends ../../../layout
include ../../../components/colorPresenter/colorPresenter

block head
    title Colors & Type

block content
    .colorsAndType
        .colorPresenterContainer
            +colorPresenter('#1F2041', 'Dark Shade 100%', 'bg-darkShade100')
        .colorPresenterContainer
            +colorPresenter('#1F2041', 'Dark Shade 75%', 'bg-darkShade75')
        .colorPresenterContainer
            +colorPresenter('#1F2041', 'Dark Shade 50%', 'bg-darkShade50')
        .colorPresenterContainer
            +colorPresenter('#1F2041', 'Dark Shade 25%', 'bg-darkShade25')
        .colorPresenterContainer
            +colorPresenter('#1F2041', 'Dark Shade 5%', 'bg-darkShade05')
        .colorPresenterContainer
            +colorPresenter('#BC9CFF', 'Purple', 'bg-purple')
        .colorPresenterContainer
            +colorPresenter('#6FCF97', 'Green', 'bg-green')