extends ../../../layout
include ../../../components/textField/textField
include ../../../components/dropDown/dropDown

block head
    title Form Elements

block content
    .formElements
        .textFieldContainer
            .formElements__title
                | default
            +textField({name: 'email', placeholder: 'Email', label: 'text field', type: 'email'})
        .textFieldContainer.textFieldContainer--2
            .formElements__title
                | hover/focus
            +textField({name: 'emailHovered', placeholder: 'Email', label: 'text field', value: 'This is pretty awesome', modifier: 'textField__input--hover'})
        .textFieldContainer.textFieldContainer--3
            .formElements__title
                | default
            +dropDown()