@import "../../scss/colors";

.colorPresenter {
  display: flex;
  align-items: center;
  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  &__textContainer {
    margin-left: 40px;
  }
  &__textLine {
    line-height: 29px;
    font-size: 19px;
    color: $darkShade100;
  }
  &__colorName {
    font-weight: normal;
    display: block;
  }

}
