@import "scss/colors";
@import "scss/fonts";
@import "scss/headers";

@import "pages/uiKit/colorsAndType/colorsAndType";
@import "pages/uiKit/formElements/formElements";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 14px/24px 'Montserrat', sans-serif;
  color: $darkShade75;
}