@import "scss/colors";
@import "scss/fonts";
@import "scss/headers";

@import "pages/uiKit/colorsAndType/colorsAndType";
@import "pages/uiKit/formElements/formElements";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

button {
  outline: none;
  background: $mainBgColor;
  border: none;
  cursor: pointer;
}

body {
  font: normal 14px/24px 'Montserrat', sans-serif;
  color: $darkShade75;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}